In [1]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Evan"],
    "Age": [25, 30, 35, 28, 40],
    "Salary": [50000, 60000, 75000, 62000, 80000],
    "Department": ["HR", "IT", "Finance", "IT", "HR"]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   75000    Finance
3    Diana   28   62000         IT
4     Evan   40   80000         HR

In [13]:
# Get the first 3 rows and only the Name and Salary columns
print(df.iloc[0:3],[0,2])

      Name  Age  Salary Department   bonus
0    Alice   25   50000         HR  5000.0
1      Bob   30   60000         IT  6000.0
2  Charlie   35   75000    Finance  7500.0 [0, 2]

In [4]:
# Create a column Bonus that is 10% of the Salary
df['bonus']= 0.1* df['salary']
print(df)

      Name  Age  Salary Department   bonus
0    Alice   25   50000         HR  5000.0
1      Bob   30   60000         IT  6000.0
2  Charlie   35   75000    Finance  7500.0
3    Diana   28   62000         IT  6200.0
4     Evan   40   80000         HR  8000.0

In [5]:
# Set the Name column as the new index
df.set_index('Name', inplace=True)
print(df.head())

         Age  Salary Department   bonus
Name
Alice     25   50000         HR  5000.0
Bob       30   60000         IT  6000.0
Charlie   35   75000    Finance  7500.0
Diana     28   62000         IT  6200.0
Evan      40   80000         HR  8000.0

In [6]:
# Display all rows from Bob to Diana and only Salary and Department columns
print(df.loc['Bob':'Diana', ['Salary', 'Department']])

         Salary Department
Name
Bob       60000         IT
Charlie   75000    Finance
Diana     62000         IT

In [7]:
# Then reset it back to the default numeric index
df.reset_index(inplace=True)
print(df.head())

      Name  Age  Salary Department   bonus
0    Alice   25   50000         HR  5000.0
1      Bob   30   60000         IT  6000.0
2  Charlie   35   75000    Finance  7500.0
3    Diana   28   62000         IT  6200.0
4     Evan   40   80000         HR  8000.0